@model Team

<h3>@Model.TeamName Information</h3>

<table class="table">
    <tr>
        
        <th>Team Name</th>
        <th>Conference</th>
        <th>Division</th>
        <th>Abbreviation</th>
        <th>Record</th>
    </tr>
    <tr>
        
        <td>@Model.TeamName</td>
        <td>@Model.Conference</td>
        <td>@Model.Division</td>
        <td>@Model.Abbreviation</td>
        <td>@Model.Record</td>
    </tr>

</table>

